html {
		width: 100%;
		height: 100%;
		overflow: hidden;
		box-sizing: border-box;
		font-size: 12pt;
		font-family: sans-serif;
}
*, *:before, *:after {
		box-sizing: inherit;
}
body {
		line-height: 1.6;
		background: lightgray;
		border: 1px solid gray;

		margin: 0rem;
		padding: 0.25rem;
		height: 100%;
		width: 100%;
}
hr {
		height: 2px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 0.25em;
}
li:nth-child(odd) {
		background: gainsboro;
}
li:nth-child(even) {
		background: darkgray;
}

input {
		margin: 0.5rem;
		padding: 0.2rem;
		line-height: 1.6;
		font-family: inherit;
}

select {
		-webkit-appearance: none;
		padding: 0.2rem;
		text-align-last: center;
		font-family: inherit;
}

textarea {
		font-size: inherit;
}

button {
		border: none;
		line-height: 1.6;
		font-size: 12pt;
		background-color: transparent;
}

.button-text {
		vertical-align: middle;
}

button:not(:disabled):hover {
		background: gray;
}

.material-icons {
		padding: 0.2rem;
}

.row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		width: 100%;
}

.vrow {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		height: 100%;
		box-sizing: border-box;
}

.vrow-lefty {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: left;
}

.vrow-righty {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: right;
}

.cell {
    white-space: nowrap;
}

.cell-elastic {
		flex-grow: 1;
}

.cell-righty {
		flex-grow: 1;
		text-align: right;
}

.cell-lefty {
		flex-grow: 1;
		text-align: left;
}

.cell-topy {
		flex-grow: 1;
		vertical-align: top;
}

.cell-boty {
		flex-grow: 1;
		vertical-align: bottom;
}

.header {
		margin: 0.2rem;
		padding: 0.2rem;
}

.header-title {
		padding: 0.2;
		font-size: large;
		text-align: center;
}

.content {
		margin: 0.2rem;
		padding: 0.2rem;
}

.footer {
		margin: 0.2rem;
		padding: 0.2rem;
		min-height: 2rem;
}

.footer-status {
		text-align: center;
}

.password-element {
		width: 8rem;
}

.w4em {
		width: 4rem;
}

.w6em {
		width: 6rem;
}

.w8em {
		width: 8rem;
}

.w10em {
		width: 10rem;
}

.w20em {
		width: 20rem;
}

.w25em {
		width: 25rem;
}

.w40em {
		width: 40rem;
}

.mw20em {
		min-width: 20rem;
}

.mw25em {
		min-width: 25rem;
}

.mw32em {
		min-width: 32rem;
}

.mw40em {
		min-width: 40rem;
}

.h4em {
		height: 4rem;
}

.h25em {
		height: 25rem;
}

.hidden {
		display: none;
}

.text-right {
		text-align: right;
}

.bold {
		font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}
