body {
		line-height: 1.6;
		font-size: 12pt;
		background: lightgray;
		min-width: 20em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
		background: gainsboro;
}
li:nth-child(even) {
		background: darkgray;
}

input {
		margin: 0.5em;
		padding: 0.2em;
		line-height: 1.6;
		font-family: inherit;
}

select {
		-webkit-appearance: none;
		padding: 0.2em;
		text-align-last: center;
		font-family: inherit;
}

textarea {
		font-size: inherit;
}

button {
		border: none;
		line-height: 1.6;
		font-size: 12pt;
		background-color: transparent;
}

.button-text {
		vertical-align: middle;
}

button:not(:disabled):hover {
		background: gray;
}

.material-icons {
		padding: 0.2em;
}

.row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
}

.vrow {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
}

.column {
		margin: 0.2em;
    white-space: nowrap;
}

.column-elastic {
		flex-grow: 1;
		margin: 0.2em;
}

.column-righty {
		flex-grow: 1;
		margin: 0.2em;
		text-align: right;
}

.column-lefty {
		flex-grow: 1;
		margin: 0.2em;
		text-align: left;
}

.header {
		margin: 0.2em;
		padding: 0.2em;
}

.header-title {
		padding: 0.2;
		font-size: large;
		text-align: center;
}

.content {
		margin: 0.2em;
		padding: 0.2em;
}

.footer {
		margin: 0.2em;
		padding: 0.2em;
		min-height: 2em;
}

.footer-status {
		text-align: center;
}

.password-element {
		width: 8em;
}

.w4em {
		width: 4em;
}

.w6em {
		width: 6em;
}

.w8em {
		width: 8em;
}

.w10em {
		width: 10em;
}

.w20em {
		width: 20em;
}

.w25em {
		width: 25em;
}

.w40em {
		width: 40em;
}

.h25em {
		height: 25em;
}

.hidden {
		display: none;
}

.text-right {
		text-align: right;
}
