body {
		line-height: 1.6;
		font-size: 12pt;
		background: lightgray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
		background: gainsboro;
}
li:nth-child(even) {
		background: darkgray;
}

input {
		margin: 0.5em;
		padding: 0.2em;
		line-height: 1.6;
		font-family: inherit;
}

select {
		-webkit-appearance: none;
		padding: 0.2em;
		text-align-last: center;
		font-family: inherit;
}

textarea {
		font-size: inherit;
}

button {
		border: none;
		background-color: transparent;
}

button:not(:disabled):hover {
		background: gray;
}

.material-icons {
		padding: 0.2em;
}

.row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
}

.column {
		margin: 0.2em;
    white-space: nowrap;
}

.column-elastic {
		flex-grow: 1;
		margin: 0.2em;
}

.header {
		margin: 0.2em;
		padding: 0.2em;
}

.header-title {
		padding: 0.2;
		font-size: large;
}

.content {
		margin: 0.2em;
		padding: 0.2em;
}

.footer {
		margin: 0.2em;
		padding: 0.2em;
		min-height: 2em;
}

.footer-status {
		text-align: center;
}

.password-element {
		width: 8em;
}
